#products_list{
    width: 80%;
    border: solid black 0px;
    float: left;
}
#products_list *{
    border: solid black 0px;
}
.product_div{
    background-color: cornflowerblue;
    height: 250px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}
.product_info_div{
    display: inline-block;
    width: 50%
}
